header{
    width: 100%;
    height: 250px;
    background-image: url('sea.jpg');
    background-size: cover;
    background-position-y:-250px;
    position: relative;
    box-shadow: 0px 0px 10px #000;
}
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: transparent;
	transition: background-color 0.3s ease;
    z-index : 2;
}
#nav > a::after {
  content: "";
  position: absolute;
  height: 10%;
  bottom: 0;
  left: -.5rem;
  right: calc(100% + .5rem);
  background-color: #bbccff;
  transition: 300ms ease-in-out;
  pointer-events: none;
  z-index: -1;
}
#nav > a:hover::after {
  right: -.5rem;
}
span{
    margin-left: 20px;
}
ul{
    display: inline-block;
    list-style-type: none;
}
#nav{
    position: relative;
    float: left;
    top:20px;
    margin-right: 30px;
}
a{
    text-decoration-line:none;
}
#nav > a{
                color: white;
            }
.login{
    color: white;
    position: relative;
    float: right;
    margin-top: 30px;
}
.username{
    color: white;
}
.login > a{
    margin-right: 10px;
}
#id{
    display: flex;
    float: left;
}
section{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 1100px;
}
.list td{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
button{
    position: relative;
    top:60px;
    left: 300px;
    border: 0;
    padding: 5px 15px;
    font-size: 20px;
    margin-right: 5px;
}
.pic{
    position: relative;
    top:50px;
    left: 200px;
    margin: auto;
    width: 1200px;
}
.pic > div{
    position: relative;
    display: inline-flex;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}
footer{
    width: 100%;
    height: 150px;
    background-color: #494949;
}
p{
    color: #bcbcbc;
    font-size: 0.7rem;
    margin-bottom:3px;
    margin-left: 20px;
}
.ft1{
    display: inline-block;
}
.ft2{
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 90px;
}
.ft2 > p{
    display: inline-block;
    margin-right: -15px;
}
.ft2 a{
    color: #bcbcbc;
    text-decoration: none;
}
.search_2{
    width: 530px;
    position: relative;
    left: 450px;
    top:-10px;
}
.search_2 input{
    width: 400px;
    padding: 5px;
    font-size: 15px;
}
.search_2 img{
    position : relative;
    width: 17px;
    margin-left:-33px;
}